<div class=" modal_container" id="other">

  <a class="close_" routerLink="" ><i class="material-icons cross grey-text">close</i></a>

  <div class="container">

    <div class="a_side">

      <h4 class="center"><strong>Tell us about</strong></h4>
      <form class="col m12">
        <div class="input-field col m12">
          <h6><strong>Name</strong></h6>
          <input id="icon_prefix" type="text" class="validate" placeholder="Johnny Dep" />
        </div>

        <div class="input-field col m12">
          <h6><strong>Email</strong></h6>
          <input id="icon_telephone" type="email" class="validate" placeholder="example@site.com" />
        </div>

        <div class="input-field col m12">
          <h6><strong>Phone</strong></h6>
          <input id="icon_telephone" type="tel" class="validate" placeholder="Phone" />
        </div>

        <div class="input-field col m12">
          <h6><strong>Project description</strong></h6>
          <input id="icon_telephone" type="tel" class="validate" placeholder="Tell us about your task" />
        </div>

        <div>

                <span class="rBtn_left  m6">
                <label>
                  <input type="checkbox" />
                  <span>Send NDA</span>
                </label>
              </span>
          <span class="rBtn_right m6">
                <label>
                      <i class="fa fa-paperclip" aria-hidden="true"></i>
                  <label class="att">Attachment file</label>
                </label>
          </span>
        </div>

        <div class="row center">
          <div class="dvs">
            <a class="btn center">Send Request</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>






