

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text center">The Furniture</h5>
        <p class="black-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>

      <div class="col l6 s12">
        <!--<h5 class="black-text center">Connect</h5>-->
        <ul class="footerlink">
          <li class="center"><a  routerLink="/about">About Us</a></li>
          <li class="center"><a  routerLink="/">Our Projects</a></li>
          <li class="center"><a  routerLink="/">Services</a></li>
          <li class="center"><a  routerLink="/contact">Contacts</a></li>
          <li class="center"><a  routerLink="/">Network</a></li>
          <li class="center"><a  routerLink="/setup">Settings</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="center"> © 2019 SwallowSoft</p>

    </div>
  </div>
</footer>



