

.footer-copyright{background: #212121;height:75px;}
.page-footer{background: #fff; background-color:#fff;}
.page-footer h5{font-weight: bold;}
.page-footer p{font-weight: 400;}
.page-footer li{font-weight: bold;}
.footerlink a{color:black;font-weight: bold;}
.footerlink a:hover{color:gold;font-weight: bold;}
