#contacts{padding:150px 0 0 0;}
.text_img_2 h4{position: absolute;margin-left: 23%;margin-top:15.5%;font-weight: 300;}

.image_head_5{
  height:400px;
  width:100%;
  background-image: url(https://images.wallpaperscraft.com/image/sofa_furniture_style_modern_39310_1920x1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 50%;

}

