#about{padding:150px 0 150px 0;}


.text_img_2 h4{position: absolute;margin-left: 23%;margin-top:18%;font-weight: 300;color:#fff;}


.image_head{
  height:400px;
  width:100%;
  background-image: url(https://images3.alphacoders.com/190/190239.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;

}
.main-topic-line{
  height: 2px;
  width: 60px;
  background-color: #ff9f00;
  margin: 0 auto;
}

