
<!--header-->
<nav class="">
  <div class="nav-wrapper ">
    <a routerLink="/" class="brand-logo bg-success">The Furniture</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/about-page">About Us</a></li>
      <li><a routerLink="/project-page">Our Projects</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contacts">Contacts</a></li>
      <li><a (click)="onClickWindow()" routerLink="/network">Network</a></li>
      <li><a routerLink="/setup">Setup</a></li>
      <li ><a (click)="onClick()" href="javascript:DoIt();"><i class="material-icons search">search</i></a></li>
      <li ><a  routerLink="/other" class="join_up"><span class="join ">Join</span></a></li>

    </ul>
  </div>
</nav>


<nav class="searchPanel"  [style.display]="(visibility == true) ? 'none' : 'block'" >
  <div class="container-fluid white-text bg-dark ">
    <input class="search_"  placeholder="Search field">
    <a (click)="onClick() " href="javascript:DoIt();"><i class="material-icons cross grey-text">close</i></a>
  </div>
</nav>




<router-outlet></router-outlet>


<!--footer-->
<footer class="page-footer ">
  <div class="container">
    <hr>





       <!-- <ul class="footerlink right hide-on-med-and-down">
          <li class=""><a routerLink="/">Home</a></li>
          <li class=""><a  routerLink="/about-page">About Us</a></li>
          <li class=""><a  routerLink="/project-page">Our Projects</a></li>
          <li class=""><a  routerLink="/services">Services</a></li>
          <li class=""><a  routerLink="/contacts">Contacts</a></li>
          <li class=""><a  routerLink="/network">Network</a></li>
          <li class=""><a  routerLink="/setup">Settings</a></li>
        </ul>-->




    <div class="row">
      <div class="col l12 s12">
        <h5 class="black-text center">The Furniture</h5>
        <p class="black-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
      </div>


      <div class="row">
        <div class="col l12 s12 ">
          <div class="footerlink">
                <a  routerLink="/about-page">About Us</a>
                <a  routerLink="/project-page">Our Projects</a>
                <a  routerLink="/services">Services</a>
                <a  routerLink="/contacts">Contacts</a>
                <a  routerLink="/network">Network</a>
                <a  routerLink="/setup">Settings</a>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="center"> © 2019 SwallowSoft</p>

    </div>
  </div>
</footer>





