.container{padding-top: 40px;}

.brand-logo{margin-left: 17%;color:black;font-weight: bold;}
.search_{width:50%;height:40px;background:#fff;color:black;margin-left:27%;}
.cross{position:absolute;margin-left:81%;margin-top:-60px;}
.searchPanel{background: #ffffff;display: none;}


.inputField{background: white;}
nav{position: fixed !important;z-index:1000;}
#nav-mobile{margin-right: 17%;color:black;font-weight: bold;}
#nav-mobile a{color:black;font-weight: bold;}
#nav-mobile a:hover{color:gold;font-weight: bold;}
#nav-mobile i:hover{color:gold;font-weight: bold;}
#nav-mobile i {color:black;font-weight: bold;padding:2px 0 0 10px;}
.nav-wrapper{
  background:#fff;

}
.nav-wrapper ul li :hover{
  background:#fff;
}
.page-footer{ background: grey;}


.image_head img{margin-top:56px;}

.into-text{
  position: absolute;
  top:70px;
  left:30%;
}
#about h4{margin-top: 50px;}
.into-text h1{color:black;font-weight: 100;}
.into-text h5{font-weight: 300;}
.btn{background-color: gold;
  color: black;
  font-weight: bold;}
.container .section {margin-bottom: 150px;}
.text_img_2{position: absolute;margin-left: 23%;margin-top: 9%;}
.text_img_3{position: absolute;margin-left: 23%;margin-top: 36%;}



.image_box{width: 100%; height: 300px;}
.image_item{width: 33%; height: 295px;padding:5px;}
.image_item img {width: 100%; height: 295px;}
#project h4{margin-top: 55px;margin-bottom: 45px;}





.footer-copyright{background: #212121;height:75px;}
.page-footer{background: #fff; background-color:#fff;}
.page-footer h5{font-weight: bold;}
.page-footer p{font-weight: 400;}
.page-footer li{font-weight: bold;}
.footerlink a{color:black;font-weight: bold;}
.footerlink a:hover{color:gold;font-weight: bold;}
