
<!--<div class="up">
  <div class="circle"><i class="material-icons">keyboard_arrow_up</i></div>
</div>-->




<!-- Main image page -->
<div class="container-fluid" id="#headerMain">
  <div class="row">
    <div class="into-text">
      <h1 class="center  text-lighten-2">Creation Furniture</h1>
      <div class="row center">
        <h5 class=" col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>

      <div class="row center">
        <a class="btn">Get Started</a>
      </div>
    </div>

    <div class="image_head">

    </div>
  </div>
</div>

<app-about-page></app-about-page>
<app-project-page></app-project-page>
<app-services></app-services>

<div class="container-fluid" id="image_mid" >
  <div class="row">
     <div class="text center text_img_4">
      <h4 >A modern responsive front-end framework based on Material Design</h4>
    </div>
    <div class="image_head_1">
    </div>
  </div>
</div>
<app-contacts></app-contacts>







