.container{padding-top: 40px;}

.brand-logo{margin-left: 17%;color:black;font-weight: bold;}
.search_{width:50%;height:40px;background:#fff;color:black;margin-left:27%;}
.cross{position:absolute;margin-left:81%;margin-top:-60px;}
.searchPanel{background: #ffffff;display: none;}


.inputField{background: white;}
nav{position: fixed !important;z-index:1000;}
#nav-mobile{margin-right: 17%;color:black;font-weight: bold;}
#nav-mobile a{color:black;font-weight: bold;}
#nav-mobile a:hover{color:gold;font-weight: bold;}
#nav-mobile i:hover{color:gold;font-weight: bold;}
#nav-mobile i {color:black;font-weight: bold;padding:2px 0 0 10px;}
.nav-wrapper{
  background:#fff;

}
.nav-wrapper ul li :hover{
  background:#fff;
}
.page-footer{ background: grey;}


/*.image_head img{margin-top:56px;}*/

.into-text{
  position: absolute;
  top:70px;
  left:30%;
}
#about h4{margin-top: 50px;}
.into-text h1{color:black;font-weight: 100;}
.into-text h5{font-weight: 300;}
.btn{background-color: gold;
  color: black;
  font-weight: bold;}
.container .section {margin-bottom: 150px;}
.text_img_2{position: absolute;margin-left: 23%;margin-top: 9%;}
.text_img_3{position: absolute;margin-left: 23%;margin-top: 36%;}


/*.text_img_2 h4{position: absolute;margin-left: 23%;margin-top:2.5%;font-weight: 300;}*/

.image_head{
  height:900px;
  width:100%;
  background-image: url('https://images.wallpaperscraft.com/image/sofa_furniture_walls_comfort_80194_1920x1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}


.image_head_1{
  height:400px;
  width:100%;
  background-image: url('http://jaworskiblog.com/image/wallpapers-for-furniture/wallpaper-for-furniture-full-h-d-and-background-image-i-372496-artistic-mobile-android-iphone-desktop-hd-love-6-good-morning-sad.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;

}

#image_mid{margin-top:150px;}
/*<img src="https://images.wallpaperscraft.com/image/sofa_furniture_walls_comfort_80194_1920x1080.jpg" height="900" width="1920" alt="img_1">*/



.image_box{width: 100%; height: 300px;}
.image_item{width: 33%; height: 295px;padding:5px;}
.image_item img {width: 100%; height: 295px;}
#project h4{margin-top: 55px;margin-bottom: 45px;}




.footer-copyright{background: #212121;height:75px;}
.page-footer{background: #fff;border-top: 0.5px solid black; background-color:lightgrey;}
.page-footer h5{font-weight: bold;}
.page-footer p{font-weight: 400;}
.page-footer li{font-weight: bold;}

.text_img_4{position: absolute;margin-top:2%;margin-left: 23%;}
.text_img_4 h4{font-weight: 200;}

