#project{padding:100px 0 80px  0;}

.container .section {margin-bottom: 150px;}
.text_img_2{position: absolute;margin-left: 23%;margin-top: 9%;}
.text_img_3{position: absolute;margin-left: 23%;margin-top: 36%;}



.image_box{width: 100%; height: 300px;}
.next{margin-top: -15px;}
.image_item{width: 33%; height: 295px;padding:5px;}
.image_item img {width: 100%; height: 295px;}

