#services{padding:150px 0 0 0;}

.text_img_2 h4{position: absolute;margin-left: 25%;margin-top:17%;font-weight: 300;color:#fff;}

.image_head_4{margin-top:100px;margin-bottom: 100px;
  height:400px;
  width:100%;
  background-image: url('http://www.aprar.net/7/2015/11/modern-nice-design-furniture-from-modern-family-that-has-grey-sofas-on-the-wodoen-floor-can-add-the-beauty-inside-room-with-grey-carpet-inside.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;

}

.main-topic-line{
  height: 2px;
  width: 60px;
  background-color: #ff9f00;
  margin: 0 auto;
}
