#services{padding:150px 0 0 0;}

.text_img_2 h4{position: absolute;margin-left: 23%;margin-top:2.5%;font-weight: 300;}

.image_head_4{margin-top:100px;margin-bottom: 100px;
  height:400px;
  width:100%;
  background-image: url('https://hdoboi.kiev.ua/userfiles/wallpapers_img/baseimg/thumbs_midle/252-stylish_green_and_white_interior.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;

}

